*,html{
	padding: 0;
	margin: 0;
}

body{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

    header#header{
    	width: 100%;
    	background-color: #fff;

    	.topHeader{
    		height: 32px;
    		background-color: #f3f3f3;
    		display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	padding-left: 20px;
	    	padding-right: 20px;

	    	.left{
	    		p{
	    			font-size: 14px;
	    			font-weight: 600;
	    			line-height: normal;
	    			font-family: inherit;
	    			margin: 0;
	    		}
	    	}

	    	.right{
	    		a{
	    			margin-left: 15px;

	    			i{
	    				color: #1fc0db;
	    				font-size: 22px;
	    				margin: 0;
	    			}
	    		}
	    	}
    	}

    	.middle{
    		display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	padding-top: 10px;
	    	padding-bottom: 10px;

	    	img{
	    		width: 200px;
	    		height: auto;
	    		display: block;
	    	}
	    }
    }

    div.content{
    	width: 100%;
    	max-width: 1200px;
    	position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

    	.etapa{
    		width: 100%;
    		display: none;

    		&.saudacao{
    			text-align: center;

    			h1{
    				font-family: inherit;
    				color: #1999ae;
    				letter-spacing: normal;
    				font-size: 38px;
    				margin-bottom: 0px;
    			}

    			h2{
    				font-family: inherit;
    				color: #626262;
    				font-weight: 300;
    				letter-spacing: normal;
    				margin-top: 30px;
    				margin-bottom: 60px;

    				strong{
    					color: #e21c21;
    					font-weight: 500;
    				}
    			}
    		}

    		.pergunta{
    			width: 100%;
    			text-align: center;
    			font-family: inherit;
				color: #626262;
				font-size: 22px;
				font-weight: 400;
				letter-spacing: normal;
    		}

    		textarea{
    			width: 100%;
    			height: 200px;
    			margin: auto;
    			margin-top: 40px;
    			padding: 20px;
    		}

    		div.wrap{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 40px;

				.opcao{
					margin-left: 15px;
					margin-right: 15px;
					position: relative;
					cursor: pointer;

					&:hover{
						label{
							background-color: #CACBCD;
						}
					}

					input{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
						cursor: pointer;

						&:checked + label{
							background-color: #58a33d;
						}
					}

					label{
						display: flex;
						text-align: center;
						justify-content: center;
						width: 200px;
						height: 36px;
						background: #e0e1e2 none;
						font-weight: 700;
						font-family: inherit;
						line-height: initial;
						color: rgba(0,0,0,.8);
						cursor: pointer;
						border-radius: .28571429rem;
						padding: .78571429em .78571429em .78571429em;
						box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
						transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
					}
				}
    		}

    		button.button{
    			width: 100%;
    			margin-right: 0;
    			max-width: 200px;
    			margin: auto;
    		}

    		&.active{
    			display: flex;
    			flex-direction: column;
    		}

    		&.etapa6{
    			.wrap{
    				flex-wrap: wrap;
    				justify-content: space-between;

	    			.ui.input,
	    			.ui.selection{
	    				width: calc(50% - 10px);
	    				margin-bottom: 20px;
	    			}
	    		}

	    		input[name="user_grau"]{
	    			display: none;
	    		}
    		}
    	}
    }

    footer#footer{
    	background-color: #959595;
    	padding-top: 20px;
    	padding-bottom: 20px;

		position: absolute;
		bottom: 0;
		width: 100%;

		ul{
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        list-style: none;
	        flex-wrap: wrap;

	        li{
	            font-size: 14px;
	            margin-left: 10px;
	            margin-right: 10px;
	            font-family: inherit;
	            color: #fff;

	            &.faculdade{
	            	width: 100%;
	            	text-align: center;
	            	margin-bottom: 10px;
	            	font-weight: 600;
	            	font-size: 16px;
	            }

	            &.dev{
	            	width: 100%;
	            	text-align: center;
	            	margin-top: 10px;
	            }

	            a{
	            	font-family: inherit;
	            	color: #fff;
	            	text-decoration: underline;
	            }
	        }
	    }
    }

    @media screen and (max-width: 1024px) {
    	header#header{
    		.topHeader{
    			flex-direction: column;
    			height: inherit;
    			padding-top: 10px;
    			padding-bottom: 10px;

    			.right{
    				margin-top: 10px;
    			}
    		}
    	}

    	div.content{
    		padding-left: 20px;
    		padding-right: 20px;
    		margin-top: -10%;

    		.etapa{
    			.pergunta{
					line-height: 140%;
					font-size: 18px;
				}

				textarea{
					height: 100px;
					margin-top: 20px;
				}

    			div.wrap{
    				flex-direction: column;
    				margin-top: 20px;

    				.opcao{
    					margin-bottom: 20px;
    					margin-left: 0;
    					margin-right: 0;
    				}

    				button.button{
    					margin-bottom: 20px;
    				}
    			}

    			&.etapa6{
    				.wrap{
    					margin-top: 10px;

    					.ui.input,
    					.ui.selection{
    						width: 100%;
    					}
    				}
    			}
    		}
    	}

    	footer#footer{
    		ul{
	            margin: 0;
	            padding: 0;
	            justify-content: flex-start;
	            
	            li{
	                width: 50%;
	                margin-left: 0;
	                margin-right: 0;
	                text-align: center;

	                &.faculdade{
	                	padding-left: 20px;
	                	padding-right: 20px;
	                }
	            }
	        }
    	}
    }
}